@tailwind base;
@tailwind components;
@tailwind utilities;

.WikiBackground {
}

@font-face {
    font-family: "Poppins";
    src: url("../public/Fonts/Poppins-Regular.ttf") format("ttf");
}

body {
    font-family: Poppins;
    background-color: beige;
}
